<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patch Post</title>
    <link rel="stylesheet" href="./styles/patch.css" />
</head>
<body>
    <div class="container">  
        <form id="contact" action="/posts-patch" method="POST">
            <h3>View Post</h3>
           
            <fieldset>
                <input placeholder="Enter Post ID" type="text" id="id" name="id" tabindex="1" required autofocus>
            </fieldset>
            <select id="field" name="field" required>
                <option value="title">Title</option>
                <option value="body">Body</option>
            </select><br>
    
            <label for="value">New Value:</label><br>
            <input type="text" id="value" name="value" required><br>
            <fieldset>
                <button type="submit" id="contact-submit" data-submit="...Sending">Fetch</button>
            </fieldset>
        </form>
    </div>
    <div class="dis">
        <% if (updatedPost) { %>
            <div class="post-details">
                <div class="ag-format-container">
                    <div class="ag-courses_box">
                        <div class="ag-courses_item">
                            <a href="#" class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h2>Post Details</h2>
                                </div>
                                <div class="ag-courses-item_date-box">
                                    <span class="ag-courses-item_date"> 
                                        <p><strong>ID :</strong><%= updatedPost.id %></p>
                                        <p><strong>Title:</strong><%= updatedPost.title %></p>
                                        <p><strong>Body:</strong> <%= updatedPost.body %></p>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>
